spring:
    datasource:
        url: jdbc:mysql://192.168.230.134:3306/mydb
        username: root
        password: root
        driver-class-name: com.mysql.cj.jdbc.Driver

    jpa:
        hibernate:
          ddl-auto: update
        show-sql: true

    servlet:
        multipart:
            max-file-size: 50MB
            max-request-size: 50MB

file:
    image-dir: D:\dev\projects\upload\images\
    result-dir: D:\dev\projects\upload\results\